<!DOCTYPE html>
<html>

<head>
  <title>Event</title>
  <link rel="stylesheet" href="/stylesheets/editStyle.css" />
</head>

<body>
  <div class="container">
    <h1>Event Editing</h1>
    <form action="/admins/events/edit/<%=item._id%>" method="post" enctype="multipart/form-data">
      <!-- enctype IS NEW -->
      <table class="table_details">
        <tbody>
          <tr hidden>
            <td>Id</td>
            <td>:</td>
            <!-- Como o id não pode ser alterado usamos o input hidden para o enviar como campo do formulário. -->
            <td>
              <input type="hidden" name="_id" id="_id" value="<%= item._id %>" />
              <%= item.name %>
            </td>
          </tr>
          <tr>
            <td>Name</td>
            <td>:</td>
            <td>
              <input type="text" name="name" id="name" value="<%= item.name %>" />
            </td>
          </tr>

          <tr>
            <td>Description</td>
            <td>:</td>
            <td>
              <input type="text" name="description" id="description" value="<%= item.description %>" />
            </td>
          </tr>
          <!--<tr>
              <td>Address</td>
              <td>:</td>
              <td>
                <input
                  type="text"
                  name="location.place"
                  id="location.place"
                  value="<%= item.location.place %>"
                />
              </td>
            </tr>-->

          <tr>
            <td>Poster</td>
            <td>:</td>
            <td>
              <input type="file" id="poster" name="poster" />
            </td>
          </tr>
          <tr>
            <td id="button" colspan="3"><button type="submit">Edit</button></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
  <h3><a class="show" href="/admins/events">Show All Events</a></h3>
</body>

</html>