<!DOCTYPE html>
<html>

<head>
  <title>Events</title>
  <link rel='stylesheet' href='/stylesheets/listStyle.css' />
</head>

<body>
  <div class="container">
    <h3><a href="/admins/events/create">Create new Event</a></h3><br>
    <h1>Events List</h1>
    <% if(items.length>0) { %>
      <table class="table_details">
        <thead>
          <tr>
            <th hidden>#</th>
            <th hidden>Id</th>
            <th>Event Name</th>
            <th>Description</th>
            <th>Address</th>
            <th>Max Capacity</th>
            <th>Limit Capacity (%)</th>
            <th>Limited Capacity</th>
            <th></th>
            <th hidden>Detalhes</th>
            <th hidden>Editar</th>
            <th hidden>Eliminar</th>
          </tr>
        </thead>
        <tbody>

          <% for(var i=0; i<items.length;i++) { %>
            <tr>

              <td hidden>
                <%=i%>
              </td>
              <td hidden>
                <%=items[i]._id%></a>
              </td>
              <td>
                <%= items[i].name%></a>
              </td>
              <td>
                <%= items[i].description%></a>
              </td>
              <td>
                <%= items[i].location.place%></a>
              </td>
              <td>
                <%= items[i].location.max%></a>
              </td>
              <td>
                <%= items[i].location.limit%>%</a>
              </td>
              <td>
                <%= Math.floor((items[i].location.max * items[i].location.limit)/100) %>
              </td>
              <td class="posterShow showDetail" href="#">Poster<img src="<%= items[i].poster%>" /></td>
              <td><a class="showDetail" href="/admins/events/show/<%= items[i]._id%> "> Show Details </td>
              <td><a class="edit" href="/admins/events/edit/<%= items[i]._id%> "> Edit </a></td>
              <td><a class="delete" href="/admins/events/delete/<%= items[i]._id%> "> Delete </a></td>
              <td>Inscrever...(toDo)</td>
            </tr>

            <% } %>
        </tbody>
      </table>
      <% } else { %>
        <div>No Events found.</div>
        <% } %>
  </div>
  <div>
    <button><a href="/admins"> Back </a></button>
  </div>
  <!--<h3><a href="/events/create">Create new Event</a></h3> Comentei porque so se deve poder adicionar eventos os promotores acho eu-->
</body>

</html>