<!DOCTYPE html>
<html>

<head>
  <title>Promoter Edit</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="container">
    <h1>Promoter Editing</h1>
    <form action="/promoters/edit/<%=item._id%>" method="POST">
      <table class="table_details">
        <tbody>
          <tr hidden>
            <td>Id</td>
            <td>:</td>
            <!-- Como o id não pode ser alterado usamos o input hidden para o enviar como campo do formulário. -->
            <td><input type="hidden" name="_id" id="_id" value="<%= item._id %>">
              <%= item.name %>
            </td>
          </tr>
          <tr>
            <td>Name</td>
            <td>:</td>
            <td><input type="text" name="name" id="name" value="<%= item.name %>"></td>
          </tr>

          <tr>
            <td>Email</td>
            <td>:</td>
            <td><input type="email" name="email" id="email" value="<%= item.email %>"></td>
          </tr>
          <tr>
            <td colspan="2"><button type="submit">Edit</button></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
  <h3><a href="/promoters">Show All Promoters</a></h3>
</body>

</html>